#OCTOBER
{
font-size:60px;
width:91%;
height:15%;
margin-right:auto;
padding:5px;
border:1px solid #666;
background:yellow;
float:left;
text-align:center;
}
#M
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:pink;
float:left;
}
#T
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:pink;
float:left;
}
#W
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:pink;
float:left;
}
#TH
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:pink;
float:left;
}
#F
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:pink;
float:left;
}
#SAT
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:pink;
float:left;
}
#SUN
{
font-size:40px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:yellow;
float:left;
background-color:red;
}
#O1
{
font-size:30px;
width:10%;
height:10%;
margin-right:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}
#O2
{
font-size:30px;
width:10%;
height:10%;
margin-left:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}
#O3
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}
#O4
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O5
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O6
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O7
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O8
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O9
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O10
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O11
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}
#O12
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O13
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O14
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O15
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O16
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O17
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O18
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O19
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O20
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O21
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O22
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O23
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O24
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O25
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O26
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O27
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O28
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O29
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O30
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}#O31
{
font-size:30px;
width:10%;
height:10%;
margin:auto;
padding:20px;
border:1px solid #666;
background:greenyellow;
float:left;
}                    