body{
background-image:url('background.JPG');
text-align:CENTER;
}
div{
padding-top:1%;
padding-bottom:1%;
}
th
{
color:red;
font-family:'Trebuchet MS';
font-size:30;
}
#a2
{
text-align:center;
}
#a1
{
text-align:center;
padding-top:5%;
border-style:dashed;
border-color:greenyellow;
padding-right:10%; 
padding-bottom:2%; 
padding-left:10%;
margin-top:5%; 
margin-right:10%;  
margin-LEFT:10%; 
}
#alast{
font-family:'Segoe Print';
border-style:dotted;
color:white;
font-weight:bold;
font-size:20;
color:blue;
}
#a4
{ 	
}
#a5
